.git
.github
.vscode
.idea
.fleet
.nova
.zed
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
.DS_Store
node_modules
vendor
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
tests
docker-compose*.yml
Thumbs.db
*.log
